body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 320px;
  height: 50%;
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 100%);
}
.profile {
  width: 100%;
  img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
  }
}

.button {
  gap: 10px;
  button {
    width: 100%;
  }
}
